#sidebar {
    /* grid-column: span 1; */
    margin: 0;
    padding-top: 15px;
    width: 325px;
    position: fixed;
    height: 100%;
    vertical-align: top;
    box-shadow: 0 0 6px 0 hsla(0, 0%, 0%, 0.4);
    text-align: center;
  }

  .light {
    background-color: var(--off-white);
  }

  .dark {
    background-color: var(--dark);
    color: var(--off-white);
  }
  
  #title {
    font-weight: 400;
    font-size: 32pt;
    letter-spacing: 0.01em;
    padding: 5%;
  }
  
  a {
    text-decoration: none;
    color: var(--deep-space-sparkle);
  }
  
  #dateText {
    font-size: 18pt;
    font-weight: 200;
  }
  
  .sidebar-link {
    left: 0;
    text-align: left;
    padding: 16px;
    padding-left: 35px;
    border-left: 8px solid hsla(0, 0%, 0%, 0);
  }
  
  div.sidebar-link {
    font-weight: 400;
    font-size: 22pt;
    text-decoration: none;
    color: #444;
  }
  
  div.sidebar-link:hover {
    background-color: hsla(0, 0%, 0%, 0.05);
    border-left: 8px solid var(--english-violet);
    cursor: pointer;
  }
  
  .sidebar-current {
    font-weight: 500;
    color: #111;
    background-color: hsla(0, 0%, 0%, 0.1);
    padding-left: -5px;
    border-left: 8px solid var(--english-violet);
  }

  #list-title {
    margin-top: 70px;
    font-size: 14pt;
    font-style: italic;
  }
  
  #list {
    text-align: left;
    margin: 15px;
    font-style: italic;
  }
  
  .tooltip {
    z-index: 1011;
  }

  #next-previous-buttons {
    margin: auto;
    width: 70%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  #next-previous-buttons img {
    height: 50px;
  }

  #next-previous-buttons button {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: transparent;
    border: none;
    font-family: Lora;
    font-size: 14pt;
  }

  #next-previous-buttons button:hover {
    cursor: pointer;
  }

  #previous-arrow {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    align-items: flex-end;
  }

  #next-arrow {
    align-items: flex-end;
  }

  #current-date {
    max-width: 30px;
  }

  @media screen and (max-width: 800px) {
    #sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }

    #title {
        letter-spacing: 0;
        font-size: 24pt;
    }

    #list-title, #list {
        display: none;
    }

    #next-previous-buttons {
        margin: auto;
        max-width: 300px;
        padding: 0px;
        display: flex;
        justify-content: space-between;
      }

    #next-previous-buttons img {
        height: 60px;
      }

    div.sidebar-link {
        font-weight: 400;
        font-size: 16pt;
        text-decoration: none;
        color: #444;
    }

    .sidebar-link {
        left: 0;
        text-align: left;
        padding: 8px;
        padding-left: 25px;
        border-left: 8px solid hsla(0, 0%, 0%, 0);
      }

    .sidebar-current {
        font-weight: 500;
        color: #111;
        background-color: hsla(0, 0%, 0%, 0.1);
        padding-left: -5px;
        border-left: 8px solid var(--english-violet);
    }
  }