@use "src/components/utilities/_variables.scss" as *;

hr {
  border: none; 
  height: 2px;
  background-color: #777; /* Make it visible */
  margin: 20px 0;
  width: 70%;
  align-self: center;
}

#sidebar {
    /* grid-column: span 1; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    width: 325px;
    position: fixed;
    height: 100%;
    vertical-align: top;
    box-shadow: 0 0 6px 0 hsla(0, 0%, 0%, 0.4);
    text-align: center;
  }

  #site-title {
    margin: 30px auto 0 auto;
    font-weight: 700;
    font-size: 48pt;
    letter-spacing: 0.01em;
    line-height: 1;
    text-align: left;
  }
  
  .hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  #meat-logo {
    height: 55px;
    width: auto;
    vertical-align: bottom;
    margin-left: 10px;
  }
  
  h2 {
    font-size: 18pt;
    font-weight: 200;
  }

  .light {
    background-color: $white;
  }

  .dark {
    background-color: $black;
    color: $white;
  }
  
  a {
    text-decoration: none;
    color: $purple;
  }
  
  #links {
    padding-top: 10px;
  }

  .sidebar-link {
    left: 0;
    text-align: left;
    padding: 16px;
    padding-left: 35px;
    border-left: 8px solid hsla(0, 0%, 0%, 0);
  }
  
  div.sidebar-link {
    font-weight: 400;
    font-size: 22pt;
    text-decoration: none;
    color: #444;
  }
  
  div.sidebar-link:hover {
    background-color: hsla(0, 0%, 0%, 0.05);
    border-left: 8px solid var(--liturgical-color);
    cursor: pointer;
  }
  
  .sidebar-current {
    font-weight: 500;
    color: #111;
    background-color: hsla(0, 0%, 0%, 0.1);
    padding-left: -5px;
    border-left: 8px solid var(--liturgical-color);
  }
  
  .tooltip {
    z-index: 1011;
  }

  @media screen and (max-width: 800px) {
    #sidebar {
      width: 100%;
      height: auto;
      position: relative;
      top: -16px;

      hr {
        display: none;
      }
    }

    #site-title {
      letter-spacing: 0;
      font-size: 28pt;
      text-align: center;
    }

    #meat-logo {
      height: 28px;
      margin-left: 5px;
    }

    h2 {
      font-size: 14pt;
    }

    div.sidebar-link {
        font-weight: 400;
        font-size: 16pt;
        text-decoration: none;
        color: #444;
    }

    .sidebar-link {
        left: 0;
        text-align: left;
        padding: 8px;
        padding-left: 25px;
        border-left: 8px solid hsla(0, 0%, 0%, 0);
      }

    .sidebar-current {
        font-weight: 500;
        color: #111;
        background-color: hsla(0, 0%, 0%, 0.1);
        padding-left: -5px;
        border-left: 8px solid $purple;
    }
  }


/* Sidebar toggle - code modified from csstoggles.github.io! */
#calendar-type-toggle {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 10px;
}
.toggle {
  position: relative;
  height: 32px;
  width: 150px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  & input[type="checkbox"] {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 150px;
    height: 100%;
    cursor: pointer;
    opacity: 0;

    &:checked + label {
      &:before { background: #c0e7e3; }
      &:after {
          content: 'GREGORIAN';
          background: $green;
          transform: translatex(0px);
      }
    }
  }

  & label {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    box-sizing:border-box;

    &:before {
      content: '';
      background: $blue;
      height: 32px;
      width: 150px;
      position: relative;
      display: inline-block;
      box-sizing:border-box;
      transition: 0.2s ease-in;
    }

    &:after {
      content: 'JULIAN';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 120px;
      height: 24px;
      z-index: 2;
      display: grid;
      place-content: center;
      font-family: arial;
      font-weight: bold;
      box-sizing:border-box;
      color:#FFF;
      background: #283044;
      transform: translatex(20px);
      transition: 0.25s ease-in-out;
    }
  }
}