#sidebar {
    /* grid-column: span 1; */
    margin: 0;
    padding-top: 15px;
    width: 325px;
    position: fixed;
    height: 100%;
    vertical-align: top;
    box-shadow: 0 0 6px 0 hsla(0, 0%, 0%, 0.4);
    text-align: center;
  }

  .light {
    background-color: var(--off-white);
  }

  .dark {
    background-color: var(--dark);
    color: var(--off-white);
  }
  
  #title {
    font-weight: 400;
    font-size: 32pt;
    letter-spacing: 0.01em;
    padding: 5%;
  }
  
  a {
    text-decoration: none;
    color: var(--deep-space-sparkle);
  }
  
  #dateText {
    font-size: 18pt;
    font-weight: 200;
  }
  
  .sidebar-link {
    left: 0;
    text-align: left;
    padding: 16px;
    padding-left: 35px;
    border-left: 8px solid hsla(0, 0%, 0%, 0);
  }
  
  .sub {
    width: 80%;
    float: right;
  }
  
  div.sidebar-link {
    font-weight: 400;
    font-size: 22pt;
    text-decoration: none;
    color: #444;
  }
  
  div.sub {
    font-weight: 500;
    font-size: 16pt;
    color: #666;
    height: 30px;
    padding: 10px;
  }
  
  div.sidebar-link:hover {
    background-color: hsla(0, 0%, 0%, 0.05);
    border-left: 8px solid var(--new-york-pink);
  }
  
  .sidebar-current {
    font-weight: 500;
    color: #111;
    background-color: hsla(0, 0%, 0%, 0.1);
    padding-left: -5px;
    border-left: 8px solid var(--opal);
  }

  #list-title {
    margin-top: 70px;
    font-size: 14pt;
    font-style: italic;
  }
  
  #list {
    text-align: left;
    margin: 15px;
    font-style: italic;
  }
  
  .tooltip {
    z-index: 1011;
  }

  @media screen and (max-width: 800px) {
    #sidebar {
      width: 100%;
      height: auto;
      position: relative;
      padding-bottom: 5%;
    }

    #list-title, #list {
        display: none;
    }
  }