@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  /* CSS HEX */
  --redwood: #AF5D63; /* pink */
  --english-violet: #4d2d52; /* purple */
  --air-force-blue: #698996; /* blue */
  --saffron: #e1bc29; /* gold */
  --off-white: #fffaf1; /* white */
  --british-racing-green: #034732; /* green */
  --dark: #230C0F; /* black */
}

.gold {
  background-color: var(--saffron);
}

.green {
  background-color: var(--british-racing-green);
}

.white {
  background-color: var(--off-white);
}

.purple {
  background-color: var(--english-violet);
}

.blue {
  background-color: var(--air-force-blue);
}

.pink {
  background-color: var(--redwood);
}

body {
  margin: 0;
  font-family: 'Lora', 'Garamond', 'Times New Roman', Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  text-align: justify;
}

#grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  height: 100vh;
  width: 100vw;
}

#main-content {
  /* grid-column: span 1; */

  margin-left: 325px; /* up right down left */
  padding: 45px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#main-content::-webkit-scrollbar {
  display: none;
}

#titles {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#titles h1 {
  font-weight: 600;
  font-size: 40pt;
  margin: 0;
}

#titles h2 {
  font-weight: 200;
  font-size: 18pt;
  margin-top: 0;
  font-style: italic;
}

#fast-icons {
  align-items: center;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  vertical-align: middle;
}

.fast-icon {
  max-height: 100px;
  padding: 5px;
  flex-grow: 1;
}

.fasted {
  opacity: 25%;
}

#fish {
  max-height: 120px;
}

#fast-description {
  font-size: 14pt;
  margin: 40px;
  text-align: center;
}

#about {
  visibility: hidden;

  position: fixed;
  height: 25px;
  margin: 10px;
  bottom: 0;
  right: 0;
}


/* MOBILE */
@media screen and (max-width: 800px) {
  #main-content {
    margin-left: 0;
  }

  .center-p {
    margin: auto;
  }
}