@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

:root {
  /* CSS HEX */
  --opal: #a7c5c1;
  --new-york-pink: #cd8987;
  --english-violet: #4d2d52;
  --deep-space-sparkle: #4d6a6d;
  --saffron: #e1bc29;
  --off-white: #fffaf1;
}

.gold {
  background-color: var(--saffron);
}

.white {
  background-color: var(--off-white);
}

.purple {
  background-color: var(--english-violet);
}

body {
  margin: 0;
  font-family: 'Lora', 'Garamond', 'Times New Roman', Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  text-align: justify;
}

#grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  height: 100vh;
  width: 100vw;
}

#main-content {
  /* grid-column: span 1; */

  margin-left: 325px; /* up right down left */
  padding: 45px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#main-content::-webkit-scrollbar {
  display: none;
}

#fasting {
  font-size: 14pt;
}

#fasting h1 {
  font-weight: 600;
  text-shadow: 2px 2px hsla(0, 0%, 0%, 0.4);
}

#fast-icons {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.fast-icon {
  height: 100px;
  padding: 5px;
  flex-grow: 1;
}


/* MOBILE */
@media screen and (max-width: 800px) {
  #sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  #main-content {
    margin-left: 0;
  }

  .center-p {
    margin: auto;
  }
}